.App {
  text-align: center;
  background-color: #F3F7FA;
}

.App-logo {
  /*position: absolute;*/
  width: 60px;
  height: 60px;
  left: 46.88%;
  right: 46.88%;
  top: 3.7%;
  bottom: 91.85%;
  /*height: 15vmin;*/
  box-shadow: #b4c2db 0 1px 11px;
  border-radius: 50%;
}

.App-header {
  height: 140px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

button.button-show-more {
  text-transform: uppercase;
  color: white;
  background-color: #3bb4ff;
  box-shadow: none;
  outline: none;
  border:0;
  border-radius: 5px;
  box-sizing: border-box;
  width: 502px;
  height: 50px;
}