.filter {
  border-radius: 5px;
  margin-bottom: 20px;
  //width: 100%;
  //min-width: 100%;
}

input[type=radio] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #2196F3;
  color: #FFFFFF;
  border-color: #2196F3;
}

input[type="radio"]:first-of-type + label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: hidden;
}

input[type="radio"]:nth-child(3) + label {
  border-left-color: #DFE5EC;
  border-right-color: #DFE5EC;
}

input[type="radio"]:last-of-type + label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: hidden;
}