.column_filters{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.column_filters input {
  display: none;
}

.column_filters input:checked ~ div.sort-button,
.column_filters input:active ~ div.sort-button {
  background: #2196F3;
  color: white;
}

.column_lowcost {
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.column_optimal {
  border-radius:0 5px 5px 0;
  border-right: 0;
}

.column_filters div {
  box-sizing: border-box;
  line-height: 20px;
  letter-spacing: 0.5 px;
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
  border: 1px solid #DFE5EC;
  padding: 15px;
  width: 168px;
}