.aside-filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 0 20px 15px 20px ;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.aside-filters h3 {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
}

.aside-filters label {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: flex-end;
}

.aside-filters input {
  display: none;
}

svg.check-square {
  fill: #3bb4ff;
  display: none;
  margin-right: 8px;
  border: 1px solid #3bb4ff;
  border-radius: 2px;
}

.aside-filters input:checked ~ span::before {
  border: 0;
  width: 0;
  height: 0;
  display: none;
}

.aside-filters span::before {
  margin-top: 1px;
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 8px;
  content: '';
  border: 1px solid #9ABBCE;
  border-radius: 2px;
}

.aside-filters span {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.aside-filters input:checked ~ svg.check-square {
  display: block;
}